# Build artifacts
target/
**/target/
*.jar
dependency-reduced-pom.xml

# IDE files
.idea/
*.iml
.settings/
.classpath
.project
**/.settings/
**/.classpath
**/.project
.vscode/

# Sensitive Data & Logs
rsa/
**/rsa/
*.log

# Golang
standalone-golang/votifier-standalone
standalone-golang/dist/
*.exe
*.test

