name: Maven Build

on:
  workflow_call:

jobs:
  build:
    name: Build Maven (Java)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Read properties
        id: props
        run: |
          echo "VERSION=$(grep 'project.version' build.properties | cut -d'=' -f2)" >> $GITHUB_ENV
          
      - name: Build with Maven
        run: mvn -B clean install -Drevision=${{ env.VERSION }}
        
      - name: Upload Maven Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: maven-artifacts
          path: target/*.jar
          retention-days: 1